[tools]
"aqua:casey/just" = "1.46.0"
"aqua:cli/cli" = "2.86.0"
"aqua:evilmartians/lefthook" = "2.1.1"
"aqua:jqlang/jq" = "1.8.1"
"aqua:mikefarah/yq" = "4.52.4"
"go" = "1.26.0"

[hooks]
postinstall = [
  "mkdir -p {{config_root}}/.cache",
]
