---
name: Build & publish container images

on:
  workflow_dispatch: {}
  push:
    branches:
      - main

jobs:
  find-changed-images:
    runs-on: ubuntu-latest
    outputs:
      apps: ${{ steps.set-matrix.outputs.apps }}
    steps:
      - name: Checkout code
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3
      
      - name: Collect changed files
        uses: dorny/paths-filter@v2
        id: filter
        with:
          base: 'main'
          list-files: json
          filters: |
            changed:
              - added|deleted|modified: 'apps/*/**'

      - name: Set apps Matrix
        if: ${{ steps.filter.outputs.changed == 'true' }}
        id: set-matrix
        run: |
          PATHS='${{ steps.filter.outputs.changed_files }}'
          DATA=$(echo $PATHS | jq -c '. | map(split("/")[1]) | unique')
          echo "apps=$DATA" >> "$GITHUB_OUTPUT"

  build-and-publish-changed-images:
    needs: find-changed-images
    if: ${{ needs.find-changed-images.outputs.apps != '' && toJson(fromJson(needs.find-changed-images.outputs.apps)) != '[]' }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        app: ${{ fromJSON(needs.find-changed-images.outputs.apps) }}

    steps:
      - name: Checkout code
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3
      
      - name: Login to ghcr
        uses: docker/login-action@343f7c4344506bcbf9b4de18042ae17996df046d # v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Container meta
        id: meta
        uses: docker/metadata-action@818d4b7b91585d195f67373fd9cb0332e31a7175 # v4
        with:
          images: |
            ghcr.io/${{ github.repository_owner }}/${{ matrix.app }}
          tags: |
            type=sha, format=long

      - name: Build and push to ghcr
        uses: docker/build-push-action@0a97817b6ade9f46837855d676c4cca3a2471fc9 # v4
        with:
          context: .
          file: 'apps/${{ matrix.app }}/Dockerfile'
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}