---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: "Render Readme"

on:
  workflow_call:
    secrets:
      BW_ACCESS_TOKEN:
        description: Bitwarden Secret Manager Access Token
        required: true

jobs:
  render-readme:
    name: Render README
    runs-on: ubuntu-latest
    steps:
      - name: Get Secrets
        uses: 1password/load-secrets-action@v2
        with:
          export-env: true
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.ONEPASS_SA_TOKEN }}
          BOT_APP_ID: op://Kubernetes/github-bot/BOT_APP_ID
          BOT_APP_PRIVATE_KEY: op://Kubernetes/github-bot/BOT_APP_PRIVATE_KEY

      - name: Generate Token
        uses: actions/create-github-app-token@v1
        id: app-token
        with:
          app-id: ${{ env.BOT_APP_ID }}
          private-key: ${{ env.BOT_APP_PRIVATE_KEY }}

      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ steps.app-token.outputs.token }}

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.x
          cache: pip

      - name: Install Python Requirements
        shell: bash
        run: pip install --requirement requirements.txt && pip freeze

      - name: Render README
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
        shell: bash
        run: python ./scripts/render-readme.py

      - name: Commit Changes
        uses: planetscale/ghcommit-action@v0.2.0
        with:
          commit_message: "chore: regenerate README.md [skip ci]"
          repo: ${{ github.repository }}
          branch: main
          empty: false
          file_pattern: "README.md"
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
