---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Retry Release

on:
  schedule:
    - cron: "30 1 * * *"
  workflow_dispatch:

jobs:
  apps:
    name: Get App Inventory
    runs-on: ubuntu-latest
    outputs:
      apps: ${{ steps.inventory.outputs.apps }}
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Get App Inventory
        uses: ./.github/actions/app-inventory
        id: inventory

  retry:
    if: ${{ needs.apps.outputs.apps != '[]' }}
    name: Retry Release
    runs-on: ubuntu-latest
    needs: ["apps"]
    strategy:
      matrix:
        app: ${{ fromJSON(needs.apps.outputs.apps) }}
      max-parallel: 4
      fail-fast: false
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup Vars
        uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea # v7.0.1
        id: vars
        with:
          script: |
            core.setOutput('repository-owner', '${{ github.repository_owner }}'.toLowerCase());

      - name: Generate Token
        uses: actions/create-github-app-token@3ff1caaa28b64c9cc276ce0a02e2ff584f3900c5 # v2.0.2
        id: app-token
        with:
          app-id: ${{ secrets.BOT_APP_ID }}
          private-key: ${{ secrets.BOT_APP_PRIVATE_KEY }}

      - name: Install Cosign
        uses: sigstore/cosign-installer@d7d6bc7722e3daa8354c50bcb52f4837da5e9b6a # v3.8.1

      - name: Install regctl
        uses: regclient/actions/regctl-installer@ce5fd131e371ffcdd7508b478cb223b3511a9183 # main

      - name: Get Bake Options
        id: app-options
        uses: ./.github/actions/app-options
        with:
          app: ${{ matrix.app }}

      - name: Get Container Registry Version
        id: registry
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
        run: |
          if ! version=$(regctl image inspect ghcr.io/${{ steps.vars.outputs.repository-owner }}/${{ matrix.app }}:rolling \
              | jq --raw-output '.config.Labels["org.opencontainers.image.version"]' 2>/dev/null) || [[ -z "${version}" ]];
          then
              echo "Failed to get registry version for ${{ matrix.app }}"
              exit 1
          fi
          echo "version=${version}" >> $GITHUB_OUTPUT

      - if: ${{ steps.app-options.outputs.version != steps.registry.outputs.version }}
        name: Retry Release
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
        run: |
          gh workflow run release.yaml \
              --repo ${{ github.repository }} \
              -f app=${{ matrix.app }} \
              -f release=true

          {
              echo '## Retrying Release'
              echo
              echo '| Container Name | Actual Version | Expected Version |'
              echo '|----------------|------------------|----------------|'
              echo '| `${{ matrix.app }}` | `${{ steps.registry.outputs.version }}` | `${{ steps.app-options.outputs.version }}` |'
          } >> $GITHUB_STEP_SUMMARY
