---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: "Simple Checks"

on:
  workflow_call:

jobs:
  metadata-validation:
    name: Validate Image Metadata
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          fetch-depth: 0

      - name: Get Changed Files
        id: changed-files
        uses: tj-actions/changed-files@a284dc1814e3fd07f2e34267fc8f81227ed29fb8 # v45.0.9 # v45.0.8
        with:
          files_yaml: |
            cue:
              - metadata.rules.cue
              - apps/**/metadata.yaml

      - name: Setup CUE
        if: ${{ steps.changed-files.outputs.cue_any_changed == 'true' }}
        uses: cue-lang/setup-cue@a93fa358375740cd8b0078f76355512b9208acb1 # v1

      # Run against all files to ensure they are tested if the cue schema is changed.
      - name: Validate image metadata
        if: ${{ steps.changed-files.outputs.cue_any_changed == 'true' }}
        shell: bash
        run: |
          find ./apps/ -name metadata.yaml | xargs -I {} cue vet --schema '#Spec' {} ./metadata.rules.cue
